@media screen and (max-width: 620px) {
    .deck {
        width: 100vw;
        padding: 3%;
        height: auto;
        min-height: 100vw;
    }
    .deck .card {
        width: 20vw;
        height: 20vw;
    }
    
    .deck .card.show {
        padding: 6.5%;
    }

    .deck .card.match {
        padding: 6.5%;
    }
    
    .score-panel {
        width: 100%;
        display: inline-block;
    }
    
}
